<h2>New Vendor Signup</h2>

<%= form_for @vendor do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :market_id %>
  <!-- <%= f.text_field :market_id %> -->
  <%= f.collection_select :market_id, Market.order(:name),:id,:name, include_blank: true %>
  <%= f.submit "Create" %>
<% end %>
