<h2>Products</h2>

<% if @current_vendor %>
  <p> Hi <%= @current_vendor.name %></p>
  <p> Your current market is <%= @current_vendor.market.name %></p>
  <p> Below is a list of your products and their prices in cents </p>
  <ul>
    <% @current_vendor.products.each do |product| %>
      <li><%= product.name %> | <%= product.price %></li>
      <% end %>
      <form method="get" action="/products/new">
        <button type="submit">Add New Product</button>
      </form>
      <form method="get" action="/products/delete">
          <button type="submit">Delete Product</button>
      </form>
    </ul>
<% else %>
    <h3>All Products by Vendor</h3>
    <% Vendor.all.each do |vendor| %>
      <h4><%= vendor.name  %></h4>
      <ul><% vendor.products.each do |product| %>
        <li><%= product.name %></li>
          <% end %>
      </ul>
    <% end %>
<% end %>
