<!DOCTYPE html>
<html>
<head>
  <title>FarMarRails</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

</head>
<body>
<div class="container">
  <div class="header">

    <div class="login_status">
      <h3><%= session[:user_id].inspect %></h3>
      <!-- <% if @current_vendor %> -->
      <!-- <h3>You are logged in as <%= @current_vendor.name %></h3> -->
      <!-- <% else %> -->
      <!-- <h3>You are not logged in</h3> -->
      <!-- <% end %> -->
    </div>

    <div class="brand">
      <h1>Heart&#10084;Beets</h1>
    </div>

    <div class="nav">
      <ul class="horizontal-links">
        <li><a href="#">About</a></li>
        <li><a href="/markets/index">Markets</a></li>
        <li><a href="#">Vendors</a></li>
        <li><a href="/products/index">Products</a></li>
      </ul>
    </div>

  </div><!-- end header div -->

  <div class="content_container">
    <div class="content">
        <h2>Welcome!</h2>
        <%= yield %>
    </div>
    <div class="feature">
      <h2>Featured Vendor</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>

    <div class="login">

    </div>

    <div class="bottom_right">
      <span class="picture">&#10084;</span>
    </div>

  </div>

  <div class="footer">
    This is a footer
  </div>
</div> <!-- end container -->
</body>
</html>
